{% load static %}

{% include 'backend/header.html' %}

{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'backend/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="background-color: white;">

                <!-- Topbar -->
                {% include 'backend/navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                      <!--Grid column-->
                      <div class="col-md-12 mb-5">

                      	  <!-- Page Heading -->
                          <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h4 class="h4 mb-0 text-gray-800">Fixed Cost Status</h4>

                              <div class="text-center text-md-left">
                                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{fixed_cost.id}}" >Delete</a>
                              </div>

                          </div>

				            <form  name="contact-form" action="" method="POST" enctype="multiparts/form-data" class="needs-validation" novalidate>

				            	{% csrf_token %}

				            	<div class="card">

				            		<div class="card-body">
				            			
						                <!--Grid row-->
						                <div class="row">

						                    <div class="col-md-3">
				                        
											<label for="exampleForm2">Reference No.</label>
											<input type="text"  class="form-control" name="reference_number", value="{{fixed_cost.reference_number}}" required disabled>
						                 
						                    </div>

						                   <!--column2-->
						                    <div class="col-md-3">
						                        
											<label for="exampleForm2">Fixed Cost</label>
											<input type="text" id="exampleForm2" class="form-control" 
												name="fixed_cost", value="{{fixed_cost.fixed_cost}}" required>
						                 
						                    </div>
						                    <!--end column-->

						                   <!--column2-->
						                    <div class="col-md-3">
						                        
												<label for="exampleForm2">Quantity</label>
												<input type="number" id="exampleForm2" class="form-control" 
												name="quantity" value="{{fixed_cost.quantity}}" required>
						                 
						                    </div>
						                    <!--end column-->

						                    <!--column3-->
						                    <div class="col-md-3">
						                        <!-- Default input -->
												<label for="exampleForm2">Unit</label>
												<div class="input-group d-sm-flex align-items-center justify-content-between">
												<select class="browser-default custom-select" name="unit" required>

												  <option value="">Select Unit</option>

												  {% for i in unit %}

												  {% if i.id == fixed_cost.unit.id %}

												  <option selected value="{{fixed_cost.unit.id}}">{{fixed_cost.unit.name}}
												  </option>

												  {% else %}
												  <option value="{{i.id}}">{{i.name}}</option>
												  {% endif%}

												  {% endfor %}
												</select>

													<div class="input-group-append">
					                                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#add_unit" >
					                                    <i class="fas fa-plus fa-sm"></i>
					                                  </a>
					                                </div>

						                       </div>
						                       
						                    </div>
						                    <!--end column-->

						                </div>
						                <!--Grid row-->

						                <div class="row" style="margin-top: 15px; margin-bottom: 30px; ">

						                 	<!--column1-->
						                    <div class="col-md-3">
						                        
												<label for="exampleForm2">Unit Price</label>
												<input type="number" id="exampleForm2" class="form-control"
												value="{{fixed_cost.unit_price}}" name="unit_price" required>
						                 
						                    </div>
						                    <!--end column-->

						                    <!--column2-->
						                    <div class="col-md-3">
						                        
												<label for="exampleForm2">Amount</label>
												<input type="number" id="exampleForm2" class="form-control"
												value="{{fixed_cost.amount}}" name="amount" required>
						                 
						                    </div>
						                    <!--end column-->

						                    <!--column4-->
						                    <div class="col-md-3">
						                    
						                    <!-- Default input -->
											<label for="exampleForm2">Currency</label>

											<div class="input-group d-sm-flex align-items-center justify-content-between">

											<select class="browser-default custom-select" name="currency" required>
											  
											  <option value="">Select Currency</option>

											  {% for value,name in currency %}

												  {% if value == fixed_cost.currency %}
												  	<option selected value="{{fixed_cost.currency}}">{{fixed_cost.currency}}
												  	</option>
												  {% else %}
												  	<option value="{{value}}">{{name}}</option>
												  {% endif %}

											  {% endfor %}
											</select>

											<div class="input-group-append">

							                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#add_currency">
							                    <i class="fas fa-plus fa-sm"></i>
			                                  </a>

			                                </div>

						                      </div>
						                       
						                   </div>
						                    <!--end column-->


						                    <!--column4-->
						                    <div class="col-md-3">
						                    
						                    <!-- Default input -->
											<label for="exampleForm2">Status</label>

											<div class="input-group d-sm-flex align-items-center justify-content-between">

												<select class="browser-default custom-select" name="status" required>
												 
												  {% for value, display_text in fixed_cost.STATUS %}

													  {% if fixed_cost.status == value %}
													  	<option value="{{ value }}" selected>{{ fixed_cost.status }}</option>
													  {% else %}
													  	<option value="{{ value }}">{{ display_text }}</option>
													  {% endif %}

												  {% endfor %}

												</select>

						                      </div>
						                       
						                   </div>
						                    <!--end column-->

						                    			                 
						                </div>


						             <div class="d-sm-flex align-items-center justify-content-between mb-4">
	                                  
	                                  <div class="text-center text-md-left">
	                                    <button class="btn btn-primary" type="submit">Submit</button>
	                                    <a href="{% url 'fixed_cost' %}" class="btn btn-light border">Cancel</a>
	                                  </div>

	                              	 </div>


	                                </div>

            					</div>

				            </form>
                            
                      </div>
                      <!--Grid column-->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



 <div class="modal fade"  id="deleteModal{{fixed_cost.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p class="text-center">Are you sure you want to delete this Item?</p>

                    <form action="{% url 'delete_fixed_cost' fixed_cost.id %}" method="POST">
                        {% csrf_token %}

                        <div class="text-center">
                            
                            <button class="btn btn-danger" type="submit">Yes, delete it!</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                        
                    </form>
                </div>

            </div>
        </div>
    </div>

<div class="modal fade" id="add_unit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLabel">Add Unit</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <form action="" method="POST" enctype="multiparts/form-data">
            {% csrf_token %}

            <div class="container mt-3 mb-3">
              <div class="row">
                <label for="exampleForm2">Unit</label>
                <input type="text" class="form-control" name="add_units" id="id_unit" required>
              </div>
              
            </div>
            <div class="modal-footer">
                  <button class="btn btn-danger" type="submit">Add</button>
                  <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </form>

    </div>
</div>
</div>

<div class="modal fade" id="add_currency" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLabel">Add Currency</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <form action="" method="POST" enctype="multiparts/form-data">
            {% csrf_token %}

            <div class="container mt-3 mb-3">
              <div class="row">
                <label for="exampleForm2">Currency</label>
                <input type="text" class="form-control" name="add_currencys" id="id_unit" required>
              </div>
              
            </div>
            <div class="modal-footer">
                  <button class="btn btn-danger" type="submit">Add</button>
                  <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
            </div>

        </form>

    </div>
</div>

</div>

  <script type="text/javascript">
    
        // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()


  </script>


{% endblock content %}

{% include 'backend/footer.html' %}