{% load static %}

{% include 'backend/header.html' %}

{% block content %}

    <!-- Page Wrapper -->
<div id="wrapper">

<style type="text/css">
  .table td, .table th {
      padding: 0.75rem;
      vertical-align: middle;
      border-top: 1px solid #e3e6f0;
  }
</style>

  <!-- Sidebar -->
 {% include 'backend/sidebar.html' %}
  <!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

<!-- Main Content -->
<div id="content" style="background-color: white; ">

    <!-- Topbar -->
    {% include 'backend/navbar.html' %}
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid" style="margin-bottom: 250px;">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4 class="h4 mb-0 text-gray-800">Add Partial Sales </h4>
    </div>


       <form action="" method="POST" enctype="multiparts/form-data" class="needs-validation" novalidate>

          {% csrf_token %} 

            <div class="card">

              <div class="card-body">

                <div class="row">

                   <div class="col-md-4 mb-2">
                      <label for="exampleForm2"> Client Name </label>
                      <input type="text" class="form-control" name="client_name" required>
                  </div>

                   <div class="col-md-4 mb-2">
                      <label for="exampleForm2"> Phone No. </label>
                      <input type="text" class="form-control" name="client_name" required>
                  </div>

                   <div class="col-md-4 mb-2">
                      <label for="exampleForm2"> Company </label>
                      <input type="text" class="form-control" name="company" required>
                  </div>

                </div>

              </div>

            </div>

           <div class="row mt-4 mb-2">

            <div class="col-md-12">

              <div class="table-responsive">

              <table class="table table-bordered" >

                  <thead style="background-color: #f8f9fc; ">
                    <tr>
                      <th style="width: 100px; text-align: left;" class="text-center">S/No</th>
                      <th style="width: 280px; text-align: left;">Description</th>
                      <th style="width: 150px; text-align: left;">Price</th>
                      <th style="width: 120px; text-align: left;">Qty</th>
                      <th style="width: 120px; text-align: left;">Discount</th>
                      <th style="width: 150px; text-align: left;">Amount</th>
                      <th style="width: 50px; text-align: center;">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td colspan="3" class="text-center margin-0"> Total</td>
                        <td>
                          <input class="form-control border-0" type="number" id="quantity_total" name="quantity_total"  />
                        </td>
                        <td><input class="form-control border-0" type="number" id="discount_total" name="discount_total"  />
                        </td>
                        <td><input class="form-control border-0" type="number" id="total" name="total"  /></td>
                        <td class="text-center">
                          <a class="btn btn-light border btn-sm btn-circle add_count" onclick="addRow()">
                          <i class="fas fa-plus"></i>
                          </a>   
                        </td>
                      </tr>
                    </tfoot>
                    <tbody id="calculation">
                      {% for i in "123" %}
                      <tr>
                       <td class="text-center">
                          {{forloop.counter}}
                        </td> 
                        <td>
                          <select class="browser-default custom-select border-0" name="block" required >
                            <option value="" ></option>
                              {% for i in get_block %}
                              <option value="{{i.price}}">{{i.name}}</option>
                            {% endfor %}
                          </select>
                        </td>
                        <td>
                          <input type="number" name="unit_price" id="price" class="form-control border-0 multi" required>
                        </td>
                        <td>
                          <input type="number" name="quantity_sold" id="quantity" class="form-control border-0 qcount multi" required>
                        </td>
                        <td> 
                          <input type="number" name="discount" id="discount" class="form-control border-0 dcount multi" required>
                        </td>
                        <td>
                          <input type="number" name="amount" id="amount" class="form-control border-0 amount" required>
                        </td>
                        <td class="text-center">
                          <button class="btn btn-danger btn-circle btn-sm removeBtn" ><i class="fas fa-trash"></i></button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>

                </table>

              </div>

            </div>

            </div> 

            <div class="card">

              <div class="card-body">

                <div class="row mb-2 mt-2">

                  <div class="col-md-3" hidden>

                    <label for="name"> Transaction</label>
                    <select class="browser-default custom-select" name="transaction" required>
                      {% for i in transaction %}
                      <option selected value="{{i.id}}">{{i.name}}</option>
                      {% endfor %}
                    </select>

                  </div>

                  <div class="col-md-4">                                
                    <label for="exampleForm2">Amount Paid</label>
                    <input type="number" class="form-control" name="amount_paid" id="amount_paid" required>
                  </div>

                  <div class="col-md-4">

                    <label for="name">Currency</label>
                      <select class="browser-default custom-select" name="currency" required>
                        <option value="" >Select Currency</option>

                        {% for value,name in currency %} 
                            <option value="{{value}}">{{name}}</option>
                        {% endfor %}

                     </select>

                  </div>

                   <div class="col-md-4">

                    <label for="exampleForm2">Due Amount </label>
                    <input type="number" class="form-control" name="quantity_sold" id="amount_due" required>
                    
                  </div>

                </div>

              </div>

            </div>

            <div class="text-center text-md-right mt-4 mb-4">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="{% url 'partial_sale' %}" class="btn btn-danger">Cancel</a>
          </div>

          </form>

        </div>

      </div>

    </div>

  </div>

<script src="{% static 'vendor/datatables/jquery-3.7.0.js' %}"></script>


  <script type="text/javascript">


   $(document).ready(function(){

    $('#calculation').on("keyup",".multi",function(){
      var parent = $(this).closest('tr');
      var quant= $(parent).find('#quantity').val();
      var price= $(parent).find('#price').val();
      var discount= $(parent).find('#discount').val();


      $(parent).find('#amount').val(quant* price - discount);
      GrandTotal();


      });



   $(document).ready(function(){

     //Remove row button click event
     $(document).on("click", ".removeBtn", function () {
        $(this).closest("tr").remove();

       GrandTotal()
        
     });


  });


    function GrandTotal(){
       var sum=0;


       $('.amount').each(function(){
         sum+=Number($(this).val());
       });

       
       $('#total').val(sum);


      var discount_sum=0;

       $('.dcount').each(function(){
         discount_sum+=Number($(this).val());
       });

       $('#discount_total').val(discount_sum);


      var quantity_sum=0;

       $('.qcount').each(function(){
         quantity_sum+=Number($(this).val());
       });

       $('#quantity_total').val(quantity_sum);

       }


     });


        
    function addRow() {   

       var rowIdx = 0; 


       var template = '';
         template += '<tr>';
         template += '<td class="text-center">1</td>'
         template += '<td><select class="browser-default border-0 custom-select" name="block" required><option value="" ></option>{% for i in get_block %}<option value="{{i.price}}">{{i.name}}</option>{% endfor %}</select>';
         template += '<td><input type="number" name="unit_price" id="price" class="form-control border-0 multi" required>';
         template += '<td><input type="number" name="quantity_sold" id="quantity" class="form-control border-0 qcount multi" required>';
         template += '<td> <input type="number" name="discount" id="discount" class="form-control border-0 dcount multi" required>';
         template += '<td><input type="number" name="amount" id="amount" class="form-control border-0 underline-input amount" required>';
         template += '<td class="text-center"><button class="btn btn-danger btn-circle btn-sm removeBtn"><i class="fas fa-trash"></i></button></td>';
         template += '</tr>';

         $("#calculation").append(template); 


        };



    
        // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()


  </script>

{% endblock content %}

{% include 'backend/footer.html' %}