{% load static %}

{% include 'backend/header.html' %}

{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'backend/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="background-color: white;">

                <!-- Topbar -->
                {% include 'backend/navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                     {% if messages %}
                      <div class="alert alert-info alert-dismissible fade show" role="alert">
                          {% for message in messages %}                     
                              {{ message }}
                          {% endfor %}
                      </div>
                      {% endif %}

                    {% if request.user.is_superuser %}
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-2">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                 Material Transportation Expenses (Weekly)</div>
                                                <a href="{% url 'material_transportation_report_usd' %}">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">USD {{material_transportation_weekly_expenses_USD}}</div>
                                                </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-2">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                 Material Transportation Expenses (Weekly)</div>
                                            <a href="{% url 'material_transportation_report_ssp' %}">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">SSP {{material_transportation_weekly_expenses_SSP}}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-12 mb-2">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Material Transportation Expenses (Count)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{material_transportation_count}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    {% endif %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Material Transportation</h1>
                        <div>
                            <a href="{% url 'add_material_transportation' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-plus fa-sm text-white-50"></i> Create </a>
                            <a href="{% url 'material_transportation_report' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-book fa-sm text-white-50"></i> Report </a> 
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Transportation</th> 
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Amount</th>
                                            <th>Currency</th>
                                            <th>Status</th>
                                            <th>User</th>

                                            {% if request.user.is_superuser %}
                                            <th>Action</th>
                                            {% endif %}

                                        </tr>
                                    </thead>
                                    <tbody>

                                      {% for i in material_transportation %}
                                      <tr>
                                          <td>{{i.transportation_type.name}}</td> 
                                          <td>{{i.quantity}}</td>
                                          <td>{{i.unit.name}}</td>
                                          <td>{{i.amount}}</td>
                                          <td>{{i.currency}}</td>
                                        
                                         {% if request.user.is_superuser %}

                                            {% if i.status == "Pending" %}
                                              <td><a class="btn btn-primary btn-sm text-center" href="{% url 'material_transportation_status' i.id %}">
                                                  <i class="fas fa-info-circle"></i> Pending
                                              </a></td>
                                            {% endif %}

                                  
                                            {% if i.status == "Processing" %}
                                            <td><a class="btn btn-info btn-sm text-center" href="{% url 'material_transportation_status' i.id %}"><i class="fas fas fa-flag"></i> Processing </a></td>
                                            {% endif %}

                                            {% if i.status == "Complete" %}
                                            <td>
                                              <a class="btn btn-success btn-sm text-center" href="{% url 'material_transportation_status' i.id %}"><i class="fas fas fa-check"></i> Complete </a>
                                            </td>
                                            {% endif %}

                                        {% else %}
                                      
                                            {% if i.status == "Pending" %}
                                              <td><button class="btn btn-primary btn-sm text-center">
                                                  <i class="fas fa-info-circle"></i> Pending
                                              </button></td>
                                            {% endif %}


                                            {% if i.status == "Processing" %}
                                            <td><button class="btn btn-info btn-sm text-center"><i class="fas fas fa-flag"></i> Processing </button></td>
                                            {% endif %}

                                            {% if i.status == "Complete" %}
                                            <td>
                                              <button class="btn btn-success btn-sm text-center"><i class="fas fas fa-check"></i> Complete 
                                              </button>
                                              </td>
                                            {% endif %}


                                        {% endif %}

                                          <td>{{i.user}}</td>

                                          {% if request.user.is_superuser %}
                                          <td>      
                                          <a href="{% url 'edit_material_transportation' i.id %}" class="btn btn-light btn-circle btn-sm">
                                            <i class="fas fa-pen"></i>
                                          </a>
 
                                            <a href="{% url 'delete_material_transportation' i.id %}" class="btn btn-danger btn-circle btn-sm" >
                                            <i class="fas fa-trash"></i>
                                          </a>
                                          </td>
                                          {% endif %}

                                      </tr>


                                      {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


{% endblock content %}

{% include 'backend/footer.html' %}
  

