{% load static %}

{% include 'backend/header.html' %}

{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'backend/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="background-color: white;">

                <!-- Topbar -->
                {% include 'backend/navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                      <!--Grid column-->
                      <div class="col-md-12 mb-5">

                          <!-- Page Heading -->
                          <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h4 class="h4 mb-0 text-gray-800">Edit Block Transportation </h4>
                          </div>

                        	<div class="card">

                          	<div class="card-body">


	                          <form action="" method="POST" enctype="multiparts/form-data" class="needs-validation" novalidate>

				            	{% csrf_token %}

				            	<div class="row" style="margin-top: 5px; margin-bottom: 25px; ">

				            		<!--column1-->
				                    <div class="col-md-6">
				                        
									<label for="exampleForm2">Client Name</label>
									<input type="text" id="exampleForm2" class="form-control" value="{{block_transportation.client_name}}" name="client_name">
				                 
				                    </div>
				                    <!--end column-->

				                    <!--column2-->
				                    <div class="col-md-6">
				                        
										<label for="exampleForm2">transportation</label>
										<select class="browser-default custom-select" 
											name="transportation_type">
										  
										  {% for i in transportation_type %}

										  	{% if block_transportation.transportation_type.id == i.id %}
										  	<option selected value="{{block_transportation.transportation_type.id}}"> {{block_transportation.transportation_type.name}}</option>
										  	{% else %}
											<option value="{{i.id}}" disabled>{{i.name}}</option>
											{% endif %}	

										  {% endfor %}
										</select>
				                 
				                    </div>
				                    <!--end column-->

				            		
				            	</div>

				                <!--Grid row-->
				                <div class="row">

				                    <!--column3-->
				                    <div class="col-md-4">
				                        <!-- Default input -->
										<label for="exampleForm2">Cost Type</label>
										<select class="browser-default custom-select" name="cost_type">
										  {% for i in cost_type %}

										  {% if block_transportation.cost.id == i.id %}
											  <option selected value="{{block_transportation.cost.id}}">{{block_transportation.cost.name}}
											  </option>
										  {% else %}
										  	<option value="{{i.id}}">{{i.name}}</option>
										  {% endif %}

										  {% endfor %}
										</select>
				                       
				                    </div>
				                    <!--end column-->

				                    <!--column3-->
				                    <div class="col-md-4">
				                        <!-- Default input -->
										<label for="exampleForm2">Block Type</label>
										<select class="browser-default custom-select" name="block_type">
										  {% for i in block_type %}

										  {% if block_transportation.block.id == i.id %}
										  
										  <option selected value="{{block_transportation.block.id}}">{{block_transportation.block.name}}
										  </option>
										  
										  {% else %}
										  <option value="{{i.id}}">{{i.name}}</option>
										  {% endif %}

										  {% endfor %}
										</select>
				                       
				                    </div>
				                    <!--end column-->

				                    <!--column1-->
				                    <div class="col-md-4">
				                        
										<label for="exampleForm2">Quantity</label>
										<input type="number" value="{{block_transportation.quantity}}" class="form-control" name="quantity">
				                 
				                    </div>
				                    <!--end column-->


				                </div>
				                <!--Grid row-->

				                <div class="row" style="margin-top: 25px; margin-bottom: 25px; ">

				                   <!--column2-->
				                    <div class="col-md-4">
				                        
										<label for="exampleForm2">Amount</label>
										<input type="number" value="{{block_transportation.amount}}" class="form-control" name="amount">
				                 
				                    </div>
				                    <!--end column-->

				                    <!--column3-->
				                    <div class="col-md-4">
				                        <!-- Default input -->
										<label for="exampleForm2">Currency</label>
										<select class="browser-default custom-select" name="currency">
										  {% for i in currency_type %}

										  {% if block_transportation.currency.id == i.id %}
										  <option selected value="{{block_transportation.currency.id}}">{{block_transportation.currency.name}}</option>
										  {% else %}
										  <option value="{{i.id}}">{{i.name}}</option>
										  {% endif %}

										  {% endfor %}
										</select>
				                       
				                    </div>
				                    <!--end column-->

				                    <!--column2-->
				                    <div class="col-md-4">
				                        
										<label for="exampleForm2">Damages</label>
										<input type="number" value="{{block_transportation.transportation_damages}}" class="form-control" name="damages">
				                 
				                    </div>
				                    <!--end column-->

				                    			                 
				                </div>

				              <div class="text-center text-md-left">
				                <button class="btn btn-primary" type="submit">Submit</button>
				                <a href="{% url 'block_transportation' %}" class="btn btn-danger">Cancel</a>
				            </div>

				            </form>

                            
                          </div>
                          
                        </div>

                      </div>
                      <!--Grid column-->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

  <script type="text/javascript">
    
        // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()


  </script>


{% endblock content %}

{% include 'backend/footer.html' %}